<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="server00_sa" connectionString="XpoProvider=MSSqlServer;Data Source=TK13\SERVER00;Persist Security Info=True;User ID=sa;Password=sa" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>